body{
    margin: 0% 15%;
    box-shadow: black;
}

#heading{
    display: block;
    text-align: center;
}

#login{
    display: block;
    align-content: left;
    margin: 0% 5%;
    /* border: 2px solid red; */
    width: 40%;
}
#login h3{
    text-align: center;
}

#login p, #login input{
    text-align: center;
}

button{
    align-content: center;
}

#register{
    display: block;
    margin: 0% 5%;
    /* border: 2px solid blue; */
    width: 40%;
    margin-top: -200px;
    margin-left: 525px;
}
#register h3, #register p, #reigster input{
    text-align: center;
}
#comments{
    display: none;
}

#button_login, #button_register{
    width: 40%;
    margin-left: 40%;
}