<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newuser" method="POST" name="new_user">
        <h3>New User</h3>
        <p>
            Username <br>
            <input type="text" name="new_username" id="new_user_name">
        </p>
        <p>
            Password <br>
            <input type="password" name="new_pword" id="new_user_pword">
        </p>
        <p>
            Confirm Password <br>
            <input type="password" name="confirm_pword" id="new_user_confirm_pword">
        </p>
        <button type="submit" id="btn_new_user">Create User</button>
    </form>
</body>
</html>